body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background: #f5f5f5 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.DefaultBg {
  background: linear-gradient(89.92deg, #3000d6 0.07%, #3dd0f0 99.93%);
}
.minHeight {
  min-height: 560px;
}
a {
  text-decoration: none !important;
}
ul li {
  list-style-type: none;
  margin: 0 !important;
}
ul {
  margin-left: -30px;
}
.fontSize {
  font-size: 18px !important;
  font-weight: 400 !important;
}
.navbar-toggler:focus {
  box-shadow: 0 0 1px 2px rgba(rgb(55, 55, 251), blue, rgb(6, 30, 245), 0.1) !important;
}
.borderLink {
  border-bottom: 1.5px solid transparent;
}

/* webkit scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: #0076d6;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* home page */
.title {
  font-size: 45px;
  font-weight: 600 !important;
}
.subtitle {
  font-size: 25px;
  font-weight: 500 !important;
}
.cardmaker {
  transition: 0.3s;
  border: 1px solid rgb(251, 246, 246);
  padding: 10px 30px 0 11% !important;
}
.cardmaker:hover {
  box-shadow: 0px 4px 65px rgba(0, 0, 0, 0.05);
}
.cardmaker h2 {
  font-weight: 500 !important;
  font-size: 35px !important;
}
.cardmaker p {
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 32px;
}

.defaultH1 {
  font-size: 35px !important;
  font-weight: 600;
  line-height: 42.67px;
}
.careerCapsBg {
  background: linear-gradient(
      0deg,
      rgba(48, 2, 214, 0.72),
      rgba(48, 2, 214, 0.72)
    ),
    url(./assets/images/Rectangle\ 3126.png);
  min-height: 500px;
  padding: 0 13%;
}
.careerCapsBg p {
  font-weight: 400;
  line-height: 32px;
  font-size: 20px;
}
.networksSection p {
  font-size: 20px;
  line-height: 32px;
}

/* components Footer */
.minHeightFooter {
  min-height: 58px;
}

/* font weight */

.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}

/* jobsCatalogPage */
.searchButton {
  background: linear-gradient(3.17deg, #3000d6 -14.65%, #3dd0f0 114.25%);
  box-shadow: 0px 10px 20px rgba(50, 61, 198, 0.26);
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  padding: 15px 42px;
  border: none;
  color: white;
  line-height: 20px;
}
.searchInputBox {
  background: url(./assets/images/search.png) no-repeat left;
  background-position: 22px;
  max-width: 500px;
  min-width: 82%;
  /* background: #ffffff; */
  border: 1px solid #c7c7c7;
  border-radius: 100px;
  padding: 7px 10px 7px 50px;
}
.searchInputBox .searchInput {
  border: none;
  font-size: 16px;
  line-height: 20px;
  outline: none !important;
  width: 90%;
  background-color: transparent;
}

@media (min-width: 768px) and (max-width: 990px) {
  .positionImage {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 447px) and (max-width: 767.9px) {
  .searchFormBox {
    flex-wrap: wrap !important;
  }
  .mainHome {
    text-align: center;
  }
  .mainHome .subtitle {
    margin-bottom: 0;
  }
  .positionImage {
    display: none;
  }
  h1 {
    font-size: 30px !important;
  }
  p {
    font-size: 18px !important;
  }
  .cardmaker {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .cardmaker p {
    font-size: 18px !important;
  }
  .outBtn {
    padding: 8px 25px !important;
  }
}
@media (min-width: 0) and (max-width: 446.9px) {
  .mainHome {
    text-align: center;
  }
  .mainHome .subtitle {
    margin-bottom: 0;
  }
  .positionImage {
    display: none;
  }
  h1 {
    font-size: 26px !important;
  }
  p {
    font-size: 16px !important;
    line-height: 1;
  }
  .cardmaker {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .cardmaker p {
    font-size: 16px !important;
  }
  .outBtn {
    padding: 6px 15px !important;
    margin-bottom: 20px;
  }
}
